
body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section h2 {
  text-align: center;
  margin-bottom: 0;
}

section .underLine {
  content: '';
  width: 250px;
  height: 3px;
  background-color: #1e212d;
  margin: 5px auto 5% auto;
}

article  {
  margin: 15px;
  background-color: #1e212d;
  color: white;
}

article img {
  display: block;
  width: 100%;
  object-fit: contain;
  margin: 0 auto 0 auto;
}

footer {
  padding: 15px;
}

footer p {
  font-size: 2.3vw;
  margin-top: 0;
}

footer p button {
  border: unset;
  padding: 2px 5px;
  border-radius: 5px;
  color: #4ea2e7;
  background-color: unset;
  cursor: pointer;
  margin-left: 15px;
}

footer .deleteBtn {
  border-radius: 5px;
  padding: 5px 10px;
  border: unset;
  color: white;
  cursor: pointer;
  background-color: #4ea2e7;
}

.tourInfo {
  display: flex;
  justify-content: space-between;
  font-size: 3vw;
  margin-top: 0;
}

.tourInfo .tourPrice{
  background-color: #2a80c71f;
  border-radius: 5px;
  padding: 5px;
  color: #4ea2e7;
}


main div h2 {
  color: #1e212d;
  text-align: center;
  margin-top: 15%;
}

main div .btn {
  margin-left: 40%;
  font-size: 3vw;
  border-radius: 5px;
  padding: 5px 30px;
  border: unset;
  color: white;
  cursor: pointer;
  background-color: #1e212d;
}


main .loading h1 {
  text-align: center;
  margin-top: 15%;
  color: #1e212d;
}